@keyframes flash {
  0% {
    color: inherit;
  }
  50% {
    color: var(--base0d);
  }
}

@keyframes highlight {
  from {
    background-color: var(--base02);
  }
  to {
    background-color: transparent;
  }
}
