@use "./sass-vars" as *;

// ==========================================================================
// Links
// ==========================================================================

a {
  color: var(--base0d);
  text-decoration: underline wavy;
  text-decoration-thickness: 0.5px; // wavy hairlines on retina
  text-underline-offset: 2px;

  &:hover,
  &:focus-visible {
    color: var(--base0c);
  }

  &:where(:visited) {
    color: var(--base0e);
  }

  &[href*="amzn.to"]:after,
  &[href*="amazon.com"]:after {
    content: "";
    background: currentColor;
    width: 1em;
    height: 1em;
    display: inline-block;
    mask: url("/extra/amazon.svg");
    vertical-align: middle;
  }
}

// ==========================================================================
// Headings
// ==========================================================================

section h1 {
  margin: 0.83em 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-header);
  position: relative;

  a,
  a:hover,
  a:visited {
    all: unset;
  }

  &:has(a:target) {
    animation: flash 0.75s 3 ease-in-out both;
  }
}

section:target > :is(h1, h2, h3, h4, h5, h6) {
  animation: flash 0.75s 3 ease-in-out both;
}

h1 {
  font-size: 1.75em;
}

// ==========================================================================
// Typography
// ==========================================================================

blockquote {
  all: unset;
  display: block;
  border-left: 3px solid var(--base02);
  color: var(--base);
  margin-left: 0.5em;
  padding-left: 1em;
}

code {
  font-family: var(--font-mono);
  font-feature-settings: "calt";
  color: var(--base0d);
}

.codeblock code {
  &::before,
  &::after {
    content: "";
  }
}

hr {
  all: unset;
  display: block;
  border-top: 1px solid var(--base02);
  margin-block: 1em 0;
}

img {
  max-width: 100%;
  border-radius: var(--radius);
}

p:has(img) {
  text-align: center;
  font-style: italic;
}

abbr {
  cursor: help;
}

ul {
  overflow-wrap: break-word;
}

pre {
  font-family: var(--font-mono);
  font-size: 0.9rem;
  line-height: 1.2;
  margin: 0;
  font-feature-settings: "calt";
  white-space: pre-wrap;
  word-wrap: break-word;
}

dl {
  dt {
    font-weight: bold;
  }
  dd {
    margin-inline-start: 2ch;
  }
}

// ==========================================================================
// Tables
// ==========================================================================

table {
  border-collapse: collapse;
  border-spacing: 0;
}

thead :is(th, td) {
  border-bottom: 2px solid var(--foreground);
}

th,
td {
  padding: 5px 30px 5px 0;

  &[align="right"] {
    padding-right: 0;
  }
}

tr:hover :is(th, td) {
  background-color: var(--base01);
}


// ==========================================================================
// Markdown Alerts
// ==========================================================================

.markdown-alert {
  background: var(--md-alert-bg);
  border: 1px solid var(--md-alert-fg);
  border-radius: 5px;
  padding: 0.75em;

  .markdown-alert-title {
    font-weight: bold;
    color: var(--md-alert-fg);
    margin: 0;
    margin-bottom: 0.5em;

    &:before {
      content: var(--md-alert-icon);
      font-size: 1.2em;
      vertical-align: middle;
      margin-right: 0.5ch;
    }
  }

  p:nth-child(2) {
    margin-top: 0;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

.markdown-alert-note {
  --md-alert-bg: color-mix(in oklch, var(--base0d), var(--background) 80%);
  --md-alert-fg: var(--base0d);
  --md-alert-icon: "ℹ️";
}

.markdown-alert-tip {
  --md-alert-bg: color-mix(in oklch, var(--base0b), var(--background) 80%);
  --md-alert-fg: var(--base0b);
  --md-alert-icon: "💡";
}

.markdown-alert-important {
  --md-alert-bg: color-mix(in oklch, var(--base0e), var(--background) 80%);
  --md-alert-fg: var(--base0e);
  --md-alert-icon: "☝️";
}

.markdown-alert-warning {
  --md-alert-bg: color-mix(in oklch, var(--base09), var(--background) 80%);
  --md-alert-fg: var(--base09);
  --md-alert-icon: "⚠️";
}

.markdown-alert-caution {
  --md-alert-bg: color-mix(in oklch, var(--base08), var(--background) 80%);
  --md-alert-fg: var(--base08);
  --md-alert-icon: "️🛑";
}
