a {
  color: var(--base0d);
  text-decoration: underline wavy;
  text-decoration-thickness: 0.5px; // wavy hairlines on retina
  text-underline-offset: 2px;

  &:hover,
  &:focus-visible {
    color: var(--base0c);
  }

  &:where(:visited) {
    color: var(--base0e);
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-header);
  position: relative;

  a,
  a:hover,
  a:visited {
    all: unset;
  }

  a:hover::before {
    content: "ยง";
    position: absolute;
    left: -1em;
    width: 2em;
    cursor: pointer;
  }

  &:has(a:target) {
    animation: flash 0.75s 3 ease-in-out both;
  }
}

h1 {
  font-size: 1.75em;
}

blockquote {
  all: unset;
  display: block;
  border-left: 3px solid var(--base02);
  color: var(--base);
  margin-left: 0.5em;
  padding-left: 1em;
}
pre {
  font-family: var(--font-mono);
  font-size: 0.9rem;
  line-height: 1.2;
  margin: 0;
  font-feature-settings: "calt";
  white-space: pre-wrap;
}
code {
  font-family: var(--font-mono);
  font-feature-settings: "calt";
  color: var(--base0d);
}
.codeblock code {
  &::before,
  &::after {
    content: "";
  }
}
hr {
  all: unset;
  display: block;
  border-top: 1px solid var(--base05);
  margin-block: 1em 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
thead :is(th, td) {
  border-bottom: 2px solid var(--foreground);
}
th,
td {
  padding: 5px 30px 5px 0;

  &[align="right"] {
    padding-right: 0;
  }
}
tr:hover :is(th, td) {
  background-color: var(--base01);
}
ul {
  overflow-wrap: break-word;
}
img {
  max-width: 100%;
}
p:has(img) {
  text-align: center;
}
abbr {
  cursor: help;
}
