@use "_colors.scss";
@use "_syntax.scss";
@use "_prose.scss";

@font-face {
  font-family: "JetBrainsMono";
  src: url("https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Regular.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Regular.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/ttf/JetBrainsMono-Regular.ttf")
      format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

$toc-hide: 86rem;

:root {
  --background: var(--base00);
  --foreground: var(--base07);

  --content-width: 50rem;
  --sidebar-width: 16rem;
  --grid-gap: 1.25rem;
  --radius: 10px;

  --font-copy: "proxima-nova", sans-serif;
  --font-header: "ff-cocon-pro", sans-serif;
  --font-mono: "JetBrainsMono", monospace;
}

html {
  background-color: var(--background);
  color: var(--foreground);
}

body {
  margin: 1rem;
}

main {
  font-family: var(--font-copy);
  display: grid;
  grid-template-areas:
    "nothing navigation"
    "sidebar content"
    "sidebar footer";
  grid-template-columns: 16rem minmax(0, 1fr);
  grid-template-rows: repeat(3, min-content);
  max-width: calc(
    var(--content-width) + var(--sidebar-width) + var(--grid-gap)
  );
  margin: 0 auto;
  gap: var(--grid-gap);
  translate: calc(((var(--sidebar-width) + var(--grid-gap)) / 2) * -1) 0;

  @media screen and (max-width: $toc-hide), print {
    grid-template-areas:
      "navigation"
      "content"
      "footer";
    grid-template-columns: minmax(0, 1fr);
    translate: 0;
    max-width: var(--content-width);
  }
}

#navigation {
  grid-area: navigation;
}

#toc {
  grid-area: sidebar;

  @media screen and (max-width: $toc-hide), print {
    display: none;
  }
}

#content {
  grid-area: content;
  max-width: var(--content-width);
}

#footer {
  grid-area: footer;
  max-width: var(--content-width);
  font-size: 0.6rem;
  font-family: var(--font-mono);
  text-align: center;
  margin-top: 5rem;

  div {
    margin-bottom: 0.5rem;
  }
}

.errorpage {
  text-align: center;
}

*::selection {
  background: var(--base02);
}
