#content.index {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0;
  padding: 0;
  font-size: 1.2rem;

  li {
    display: flex;
    justify-content: space-between;
  }

  time,
  smart-time {
    opacity: 0.5;
    flex-shrink: 0;
  }

  li:hover :where(time, smart-time) {
    opacity: 0.8;
  }

  a {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .year {
    display: block;
    font-style: italic;
    margin-top: 1em;
    margin-bottom: 0.5em;
    position: relative;

    .year-label {
      background: var(--background);
      display: inline-block;
      position: relative;
      padding-right: 1ch
    }

    .year-divider {
      all: unset;
      border-bottom: 1px solid color-mix(in oklch, var(--foreground), transparent 80%);;
      width: 100%;
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
    }
  }
}
