pre.athl {
  padding: 1.5em 2em;
  position: relative;
  margin: 1rem -1px;
  border: 1px solid var(--base02);
  border-radius: var(--radius);
  background-color: transparent;
  color: var(--base05);


  .attribute {
    color: var(--base09);
  }

  .comment {
    font-style: italic;
    color: var(--base03);
  }

  .constant {
    color: var(--base09);
  }

  .constant.character.escape {
    color: var(--base0c);
  }

  .constant.numeric {
    color: var(--base09);
  }

  .constructor {
    color: var(--base0d);
  }

  .debug {
    color: var(--base03);
  }

  .diff.delta {
    color: var(--base09);
  }

  .diff.minus {
    color: var(--base08);
  }

  .diff.plus {
    color: var(--base0b);
  }

  .error {
    color: var(--base08);
  }

  .function, .function-call {
    color: var(--base0d);
  }

  .hint {
    color: var(--base03);
  }

  .info {
    color: var(--base0d);
  }

  .keyword {
    color: var(--base0e);
  }

  .label {
    color: var(--base0e);
  }

  .markup.bold {
    font-weight: bold;
    color: var(--base0a);
  }

  .markup.heading {
    color: var(--base0d);
  }

  .markup.italic {
    font-style: italic;
    color: var(--base0e);
  }

  .markup.link.text {
    color: var(--base08);
  }

  .markup.link.url {
    color: var(--base09);
  }

  .markup.list {
    color: var(--base08);
  }

  .markup.quote {
    color: var(--base0c);
  }

  .markup.raw {
    color: var(--base0b);
  }

  .namespace {
    color: var(--base0e);
  }

  .operator {
    color: var(--base05);
  }

  .special {
    color: var(--base0d);
  }

  .string {
    color: var(--base0b);
  }

  .type {
    color: var(--base0a);
  }

  .variable {
    color: var(--base08);
  }

  .variable.other.member {
    color: var(--base0b);
  }

  .variable-parameter {
    color: var(--base0c);
  }

  .property {
    color: var(--base0e);
  }

  .warning {
    color: var(--base09);
  }

  .tag {
    color: var(--base0e);
  }

  .tag-attribute {
    color: var(--base08);
  }
}
