:root
  --shiki-color-text: var(--base05)
  --shiki-color-background: var(--base01)
  --shiki-token-constant: var(--base09)
  --shiki-token-string: var(--base0b)
  --shiki-token-comment: var(--base04)
  --shiki-token-keyword: var(--base0e)
  --shiki-token-parameter: var(--base09)
  --shiki-token-function: var(--base0d)
  --shiki-token-string-expression: var(--base0b)
  --shiki-token-punctuation: var(--base0a)
  --shiki-token-link: var(--base0c)
