@font-face{
  font-family: 'JetBrainsMono';
  src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Regular.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Regular.woff') format('woff'),
    url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/ttf/JetBrainsMono-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

root-font-size = 16px

toc-hide = 1376px

@require '_colors.styl'
:root
  --background: var(--base00)
  --foreground: var(--base07)

  --content-width: root-font-size * 50 // 50rem equivalent
  --sidebar-width: 256px;
  --radius: 10px

  --font-copy: "proxima-nova", sans-serif
  --font-header: "ff-cocon-pro", sans-serif
  --font-mono: "JetBrainsMono", monospace


@require '_syntax.styl'

html
  background-color: var(--background);
  font-size: root-font-size
  color: var(--foreground)

body
  margin: 10px

main
  font-family: var(--font-copy)
  display: grid
  grid-template-areas:\
    "nothing navigation"\
    "sidebar content"\
    "sidebar footer"
  grid-template-columns: 16rem minmax(0,1fr)
  grid-template-rows: repeat(3, min-content)
  max-width: calc(var(--content-width) + var(--sidebar-width) + 20px)
  margin: 0 auto
  gap: 20px
  translate: calc(((var(--sidebar-width) + 20px) / 2) * -1 ) 0

  @media screen and (max-width: toc-hide)
    grid-template-areas:\
      "navigation"\
      "content"\
      "footer"
    grid-template-columns: minmax(0,1fr)
    translate: 0
    max-width: var(--content-width)


#navigation
  grid-area: navigation

#toc
  grid-area: sidebar

  @media screen and (max-width: toc-hide)
    display: none

#content
  grid-area: content
  max-width: var(--content-width)


#footer
  grid-area: footer
  max-width: var(--content-width)
  font-size: 10px
  font-family: var(--font-mono)
  text-align center
  margin-top 5rem

  div
    margin-bottom 0.5rem

.post
  @require '_prose.styl'
